<header class="pb-4 mb-8 bg-white shadow-lg">
  <div class="mx-auto rounded-lg shadow-xl max-w-7xl">
    <div {{#if feature_image}}style="background-image: url({{feature_image}})"{{/if}} class="flex items-center justify-center h-64 bg-gray-200 bg-center bg-cover rounded-t-lg"> 
      <p class="text-4xl font-bold text-gray-700">{{name}}</p>
    </div>
    <div class="px-8 bg-white rounded-b-lg">
      <div class="pt-8 pb-8">
        <p class="mt-6 text-gray-700">{{bio}}
          {{#if description}}
              {{description}}
          {{else}}
              A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
          {{/if}}            
        </p>
      </div>
    </div>
  </div>
</header>
