{{!< default}}

{{#post}}

<article class="{{post_class}}">

    {{> heading}}

    <div class="prose lg:prose-xl gh-content max-w-none">
        {{content}}
    </div>

</article>

<aside class="flex flex-row justify-between mt-10">
    {{#next_post}}
        <a href="{{url}}" class="px-4 py-3 text-gray-500 bg-gray-200 rounded-lg shadow-md">
            <div class="flex">
                <div class="w-5 h-5 py-1 mr-4 text-gray-400 fill-current">{{> "icons/arrow-left"}}</div>
                <div>
                    <p class="text-sm">Previous:</p>
                    <p class="font-bold">{{title}}</p>
                </div>
            </div>
        </a>                   
    {{/next_post}}
    {{#prev_post}}
        <a href="{{url}}" class="px-4 py-3 text-gray-500 bg-gray-200 rounded-lg shadow-md">
            <div class="flex">
                <div class="mr-4">
                    <p class="text-sm">Next:</p>
                    <p class="font-bold">{{title}}</p>
                </div>
                <div class="w-5 h-5 py-1 text-gray-400 fill-current">{{> "icons/arrow-right"}}</div>
            </div>
        </a>                   
    {{/prev_post}}
</aside>

{{/post}}
